.learing {
    display: flex;
    padding: 80px;
    // margin: 0 -95px -80px -95px;
    .learingResp{
        display: none;
    }
    .learingLeft {
        flex: 3;
        // border: 1px solid #222222;
        padding-right: 10px;
        height: 715px;
        overflow: auto;
        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-track{
            background: transparent !important;
        
        }
        &::-webkit-scrollbar-thumb{
            background: #bbbbbb;
            border-radius: 10px;
        }
        .learingLeftVideo {
            width: 100%;
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .videoFrameTest{
            position: relative;

        }
        .testNoti{
            position: absolute;
            z-index: 100;
            top:0;
            left: 0;
        }
        .learingLeftTitle {
            font-size: 30px;
            font-weight: bold;
            margin-top: 20px;
            padding-left: 20px;
        }

        .learingLeftComment {
            
        }
        .learingLeftBackGround{
            width: 100%;
            height: 100%;
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .learingLeftExercise{
            // background-color: #bbbbbb;
        }
        .learingLeftQuestion{
            width: 80%;
            margin: 0 auto;
        }
    }

    .learingRight {
        flex: 1;
        padding-left: 10px;
        height: 715px;
        overflow: auto;
        h2{
            padding: 20px 0;
        }
        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-track{
            background: transparent !important;
        
        }
        &::-webkit-scrollbar-thumb{
            background: #bbbbbb;
            border-radius: 10px;
        }
        .itemVideoLearing {
            cursor: pointer;
            &:hover{
                background-color: #e9e0e0;
            }
            padding: 10px;
            span {
                padding-right: 10px;
            }

            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
@media (min-width:1000px) and (max-width : 1199.98px) {
    .learing{
        margin: 0 -30px -80px -30px;
        
    }
}

@media (max-width: 1000px) {
    .learing{
        position: relative;
        margin: 0 -30px -80px -30px;
        .learingResp{
            font-size: 30px;
            display: block;
            position: absolute;
            bottom: 15px;
            right: 15px;
            background-color: #bbbbbb;
            border-radius:25px ;
            width: 50px;
            height: 50px;
            text-align: center;
            cursor: pointer;
            border: 1px solid #504f4f;
            &:hover{
                border: 1px solid #222222;
            }
        }
        
        .learingRight{
            display: none;
        }
        .learingLeft{
            padding-right: 0;
            // height: 100%;
            &::-webkit-scrollbar{
                width: 0px;
            }
        }
    }
    .learingDrawerResp{
        .ant-drawer-body{
            padding: 10px;
        }
        .itemVideoLearing {
            cursor: pointer;
            padding: 10px 0;
            span {
                padding-right: 10px;
            }

            display: flex;
            justify-content: space-between;
        }
    }

}

@media (max-width: 768px){
    .learing{
        margin: 0 -10px -80px -10px;
    }
}