
.home{
    
    .homeTitle{
        font-size: 50px;
        font-weight: 700;
    }
    .homeBxh{
        padding-top: 50px;
        .homeBxhContent{
            margin: 0 -5px;
            border-radius: 15px;
            padding:50px 20px;
            display: flex;
            justify-content: space-between;
            .homeBxhLeft{
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1.5;
                img{
                    width: 100%;
                }
            }
            .homeBxhRight{
                flex: 2;
                padding-left: 30px;
                .homeBxhRighttitle{
                    font-size: 50px;
                    font-weight: bold;
                }
                .homeBxhRightList{
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    width: 700px;
                    p{
                        font-size: 30px;
                        color: rgb(200, 228, 42);
                        margin-bottom: 0;
                    }
                    .sliderBxh{
                        // box-shadow: 0 2px 5px #222222;
                        border-radius: 5px;
                        width: 300px;
                        padding: 20px;
                    }
                }
            }
        }
    }
    .homeMonitoring{
        padding-top: 50px;

    }
    .homeCourse{
        padding-top: 50px;
        .homeCourseQuote{
            font-size: 20px;
            margin-bottom: 30px;
            font-weight: bold;
        }
        .homeCourseContent{
            margin: 0 -10px;
        }
    }
}
@media (min-width:768px) and (max-width     : 1199.98px) {
    .home{
        .homeCourse{
            .homeTitle{
                font-size: 50px;
            }
            .homeCourseQuote{
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .home{
        .homeCourse{
            .homeTitle{
                font-size: 30px;
            }
            .homeCourseQuote{
               display: none;
            }
        }
    }
}